<!-- START Toast Remove -->
<div class="toast toast-dark-danger p-2" role="alert" aria-live="assertive" aria-atomic="true" id="removeToast">
  <!-- Toast Header -->
  <div class="toast-header">
    <i class="fa fa-times-circle fa-fw me-2"></i>
    <strong class="me-auto text-uppercase">Info</strong>
    <small>Now</small>
    <button type="button" class="btn-close  btn-close-white " data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <!-- Toast Body -->
  <div class="toast-body">Selected Credit Card successfully removed.</div>
</div>
<!-- END Toast Remove -->