<!-- START Toast Saved -->
<div class="toast toast-dark-success p-2" role="alert" aria-live="assertive" aria-atomic="true" id="saveToast">
  <!-- Toast Header -->
  <div class="toast-header">
    <i class="fa fa-check-circle fa-fw me-2"></i>
    <strong class="me-auto text-uppercase">Saved</strong>
    <small>Now</small>
    <button type="button" class="btn-close  btn-close-white " data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <!-- Toast Body -->
  <div class="toast-body">Settings saved successfully.</div>
</div>
<!-- END Toast Saved -->