<ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton1">
    <li><h6 class="dropdown-header fw-normal">Bulk Options</h6></li>
    <li>
        <a class="dropdown-item gap-2 d-flex" href="#">
            <i class="fa fa-star fa-fw me-2 me-2 opacity-75 align-self-center"></i>
            Add to Favorites
        </a>
    </li>
    <li>
        <a class="dropdown-item gap-2 d-flex" href="#">
            <i class="fa fa-align-right fa-fw me-2 opacity-75 align-self-center"></i>
            Select Priority
        </a>
    </li>
    <li>
        <a class="dropdown-item gap-2 d-flex" href="#">
            <i class="fa fa-signal fa-fw  me-2 opacity-75 align-self-center"></i>
            Select Status
        </a>
    </li>
    <li>
        <button class="dropdown-item gap-2 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#modalSelectUsers">
            <i class="fa fa-user fa-fw me-2 opacity-75 align-self-center"></i>
            Assign Users
        </button>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <button class="dropdown-item gap-2 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#modalDanger">
            <i class="fa fa-trash fa-fw me-2 opacity-75 align-self-center"></i>
            Delete
        </button>
    </li>
</ul>