 <!-- START Dropdown Autocomplete -->
     <div class="dropdown-menu shadow border-secondary-subtle pb-0 pt-0">

      <!-- Right Close Button -->
      <span class="position-absolute top-0 start-100 translate-middle" style="z-index: 999;">
        <span class="fa-stack" style="font-size: 0.7em;">
          <i class="fa-solid fa-circle fa-stack-2x text-secondary"></i>
          <i class="fa-solid fa-times fa-stack-1x text-light"></i>
        </span>
      </span>
       
       <!-- Input Search -->
       <div class="">
         <input type="email" class="form-control rounded-top border-0" placeholder="Search...">
       </div>
       
       <!-- START Header -->
       <div class="px-3 py-2 d-flex align-items-center bg-body-secondary text-secondary small border-top-0 border-bottom border-secondary-subtle">
         <small> Apply people for this task</small>
       </div>
       <!-- END Header -->
       
       <!-- START List -->
       <ul class="overflow-auto list-unstyled mb-0 vstack small" style="height: 200px; gap: 1px;">
         <li>
           <a class="dropdown-item d-flex py-2" href="#" data-bs-toggle="button">
            <div class="avatar-sm rounded-pill bg-secondary small text-white d-flex align-items-center justify-content-center text-wrap small me-3">
              <small>UY</small>
            </div> 
            <span class="flex-grow-1 align-self-center me-5">Ugo Yanaroseh</span>
           </a>
         </li>
         <li>
           <a class="dropdown-item d-flex py-2" href="#" data-bs-toggle="button">
            <img class="avatar-sm rounded-pill me-3" src="https://randomuser.me/api/portraits/women/65.jpg" alt="">
            <span class="flex-grow-1 align-self-center me-5">Rakesh Maraiop</span>
           </a>
         </li>
         <li>
           <a class="dropdown-item d-flex py-2" href="#" data-bs-toggle="button">
            <div class="avatar-sm rounded-pill bg-secondary small text-white d-flex align-items-center justify-content-center text-wrap small me-3">
              <small>
                <i class="fa fa-user"></i>
              </small>
            </div>
            <span class="flex-grow-1 align-self-center me-5">Adam Sandler</span>
           </a>
         </li>
         <li>
           <a class="dropdown-item active d-flex py-2" href="#" data-bs-toggle="button">
            <div class="avatar-sm rounded-pill bg-secondary small text-white d-flex align-items-center justify-content-center text-wrap small me-3">
              <small>UY</small>
            </div> 
            <span class="flex-grow-1 align-self-center me-5">Ugo Yanaroseh</span>
            <i class="fas fa-check small align-self-center"></i> 
           </a>
         </li>
         <li>
           <a class="dropdown-item d-flex py-2" href="#" data-bs-toggle="button">
            <img class="avatar-sm rounded-pill me-3" src="https://randomuser.me/api/portraits/women/65.jpg" alt="">
            <span class="flex-grow-1 align-self-center me-5">Rakesh Maraiop</span>
           </a>
         </li>
         <li>
           <a class="dropdown-item d-flex py-2" href="#" data-bs-toggle="button">
            <div class="avatar-sm rounded-pill bg-secondary small text-white d-flex align-items-center justify-content-center text-wrap small me-3">
              <small>
                <i class="fa fa-user"></i>
              </small>
            </div>
            <span class="flex-grow-1 align-self-center me-5">Adam Sandler</span>
           </a>
         </li>

        </ul>
       <!-- END List -->
       
       <!-- START Footer -->
       <div class="hstack p-0 d-flex align-items-center bg-body-secondary small text-body border-top rounded-bottom">
        <button type="button" class="btn btn-sm small py-2 flex-fill rounded-0 btn-link text-secondary text-decoration-none m-0">
          Edit Users
        </button>
              
        <div class="vr m-0 bg-gray-600"></div>
              
        <button type="button" class="btn btn-sm small py-2 flex-fill rounded-0 btn-link text-body-emphasis text-decoration-none m-0" data-bs-toggle="modal" data-bs-target="#modalInviteUsers">
          Add Users
        </button>
       </div>
       <!-- END Footer -->
      </div>
     <!-- END Dropdown Autocomplete -->