
            <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton1">
              <li>
                <h6 class="dropdown-header f-normal">Select Priority</h6>
              </li>
              <li>
                <a class="dropdown-item gap-3 d-flex" href="#">
                  <i class="fa fa-circle text-danger align-self-center"></i> Important
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-3 d-flex" href="#">
                  <i class="fa fa-circle text-warning align-self-center"></i> High
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-3 d-flex" href="#">
                  <i class="fa fa-circle text-primary align-self-center"></i> Normal
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-3 d-flex" href="#">
                  <i class="fa fa-circle text-muted align-self-center"></i> Low
                </a>
              </li>
            </ul>