<div class="offcanvas offcanvas-end border-gray-300 border-start shadow {% if page.offcanvasTaskViewShow %}show{% else %}{% endif %}" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 50%;">
  <div class="offcanvas-body p-5">
    {% include tasks/task-details.html %}
    <hr class="mt-5 mb-3 opacity-25">
    <!-- START Section Files -->
    <div class="mb-5">

        <!-- Small Header -->
        <div class="small mb-4 text-body">
            <i class="fa fa-paperclip me-2"></i> Files
        </div>

        <!-- Attachments -->
        <div class="d-flex gap-3">

          {% include tasks/subtask/files.html %}

        </div>

    </div>
    <!-- END Section Files -->

    <hr class="mt-5 mb-3 opacity-25">
    <div class="mb-3">

      <!-- Small Header -->
      <div class="d-flex mb-3 align-items-center">
          <div class="small text-body">
              <i class="fa fa-list me-2"></i> Subtasks
          </div>
          <button class="btn btn-primary btn-sm rounded-circle ms-auto">
            <i class="fas fa-plus" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Add Subtask" aria-label="Add Task"></i>
          </button>
      </div>

      {% include tasks/subtask/card-subtask.html %}
    </div>

    {% include tasks/subtask/table-subtasks.html %}
  </div>
  <div class="card-footer border-0 d-flex justify-content-end p-4">
    <button type="button" class="btn btn-link text-decoration-none px-3">Edit this Task</button>
  </div>
</div>