---
layout: cheatsheet
title:  'Styleguide'
styleguide: "yes"
---

<section id="content">

  <section id="content">
    <h2 class="sticky-xl-top pt-3 pt-xl-5 pb-2 pb-xl-3 fw-light">Contents</h2>
    {% include cheatsheet/colors.html %}
    {% include cheatsheet/typography.html %}
    {% include cheatsheet/images.html %}
    {% include cheatsheet/tables.html %}
    {% include cheatsheet/figures.html %}
  </section>

  <section id="forms">
    <h2 class="sticky-xl-top fw-light pt-3 pt-xl-5 pb-2 pb-xl-3">Forms</h2>
    {% include cheatsheet/overview.html %}
    {% include cheatsheet/disabled-forms.html %}
    {% include cheatsheet/sizing.html %}
    {% include cheatsheet/input-group.html %}
    {% include cheatsheet/floating-labels.html %}
    {% include cheatsheet/validation.html %}
    {% include cheatsheet/radios-checks.html %}
  </section>

  <section id="components">
    <h2 class="sticky-xl-top fw-light pt-3 pt-xl-5 pb-2 pb-xl-3">Components</h2>
    {% include cheatsheet/accordion.html %}
    {% include cheatsheet/alerts.html %}
    {% include cheatsheet/badge.html %}
    {% include cheatsheet/breadcrumb.html %}
    {% include cheatsheet/buttons.html %}
    {% include cheatsheet/button-group.html %}
    {% include cheatsheet/card.html %}
    {% include cheatsheet/carousel.html %}
    {% include cheatsheet/dropdowns.html %}
    {% include cheatsheet/list-group.html %}
    {% include cheatsheet/modal.html %}
    {% include cheatsheet/navs.html %}
    {% include cheatsheet/navbar.html %}
    {% include cheatsheet/pagination.html %}
    {% include cheatsheet/popovers.html %}
    {% include cheatsheet/progress.html %}
    {% include cheatsheet/scrollspy.html %}
    {% include cheatsheet/spinners.html %}
    {% include cheatsheet/toasts.html %}
    {% include cheatsheet/tooltips.html %}
    {% include cheatsheet/offcanvas.html %}
  </section>

  <section id="custom">
    <h2 class="sticky-xl-top fw-light pt-3 pt-xl-5 pb-2 pb-xl-3">Custom</h2>
    {% include cheatsheet/avatars.html %}
    {% include cheatsheet/sidebar.html %}
  </section>



</section>

<div class="modal fade" id="exampleModalDefault" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog shadow-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Modal title</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia possimus labore assumenda a cum itaque quia asperiores dignissimos suscipit laboriosam?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link text-dark" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdropLive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLiveLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>I will not close if you click outside me. Don't even try to press escape key.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the predefined max-height of modal, content will be cropped and scrollable within the modal.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>This content should appear at the bottom after you scroll.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Full screen modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

