---
layout: slim-sidebar
title:  'Projects'
projectsTable: 1
bodyClass: ''
---
<div class="table-responsive-md">
  <table class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col" width=30 class="border-bottom text-secondary"></th>
          <th scope="col" width=30 class="border-bottom text-secondary"></th>
          <th scope="col" class="small fw-normal border-bottom text-secondary fw-semibold">Title</th>
          <th scope="col" class="small fw-normal border-bottom text-secondary fw-semibold">Last Updated</th>
          <th scope="col" class="small fw-normal border-bottom text-secondary fw-semibold">Due Date</th>
          <th scope="col" class="small fw-normal border-bottom text-secondary fw-semibold">Members</th>
          <th scope="col" class="small fw-normal border-bottom text-secondary fw-semibold">Status</th>
          <th scope="col" class="small fw-normal text-end border-bottom text-secondary fw-semibold">Progress</th>
          <th scope="col" class="small fw-normal border-bottom text-secondary"></th>
        </tr>
      </thead>
      <tbody>
        {% for table in site.data.tableTask %}
          {% include tasks/tr-project.html
              avatar4=""
              paused=""    
          %}
          {% include tasks/tr-project.html
              avatar3=""
              cancelled=""    
          %}
          {% include tasks/tr-project.html
              avatar2=""
              active=""    
          %}
          {% include tasks/tr-project.html
              avatar1=""
              completed=""    
          %}
          {% include tasks/tr-project.html
              avatar2="" 
              planned=""    
          %}
        {% endfor %}
      </tbody>
    </table>
  </div>