---
layout: slim-sidebar
title:  'Tasks Table'
tasksTable: 1
modalDangerTasks: 1
bodyClass: 'bg-white'
---

<table class="table table-hover mt-1">
  <thead class="border-bottom small">
    <tr>
      <th scope="col" width="30">

      </th>
      <th scope="col" width="30">
        <i class="fas fa-fw fa-star ms-2"></i>
      </th>
      <th scope="col" class="text-center small fw-normal" width="30">Priority</th>
      <th scope="col" class="text-center small fw-normal" width="30">Status</th>
      <th scope="col" class="small fw-normal">Title</th>
      <th scope="col" class="small fw-normal">Created</th>
      <th scope="col" class="small fw-normal">Tags</th>
      <th scope="col" class="small fw-normal">Assigned</th>
      <th scope="col" class="text-end"></th>
    </tr>
  </thead>
  <tbody>
    {% for table in site.data.tableTask %}
      {% include tasks/tr-task.html 
        avatar4=""
        backlog=""
        importantIcon=""
      %}
      {% include tasks/tr-task.html 
        avatar3=""
        rejected=""
        highIcon=""
      %}
      {% include tasks/tr-task.html 
        avatar2=""
        doing=""
        normalIcon=""
      %}
      {% include tasks/tr-task.html 
        avatar1=""
        todo=""
        lowIcon=""
      %}
    {% endfor %}
  </tbody>
</table>