            <!-- Close Button for Modal & Dropdown -->
            <button type="button" class="btn-link link-secondary btn position-absolute top-0 start-100 translate-middle z-3 pe-auto"  {% if include.closeDropodown %} data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false" {% else %} data-bs-dismiss="modal"  {% endif %}>
                <span class="fa-stack" style="font-size: 0.7em;">
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-times fa-stack-1x text-white"></i>
                </span>
            </button>