    <!-- START Modal: Create New Team -->
    <div class="modal fade" id="modalCreateTeam" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    
        <div class="modal-dialog position-relative">

            <!-- Right Close Button -->
            <span class="position-absolute top-0 start-100 translate-middle" style="z-index: 999;">
                <span class="fa-stack" style="font-size: 0.7em;">
                    <i class="fas fa-circle fa-stack-2x text-muted"></i>
                    <i class="far fa-times fa-stack-1x text-white"></i>
                </span>
            </span>

            <div class="modal-content rounded-5 shadow-sm overflow-auto">

                <!-- Content -->
                <div class="modal-body px-5 pt-5">
                    <div class="d-flex flex-column">
                        <h3 class="mb-3 text-center fw-normal">
                            Create New Team
                        </h3>
                        <p class="text-center mb-4">Teams and shared enviroments where teams can work on projects, milestones and tasks.</p>
                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Team Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter team name...">
                          </div>

                          <div class="mb-4">
                            <label for="teamURL" class="form-label h6">Team URL</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3">webkom.co/</span>
                                <input type="text" class="form-control" id="teamURL" aria-describedby="teamURL" value="airframe" placeholder="/airframe">
                            </div>
                            <div id="emailHelp" class="form-text">Optionally, you can name a link as you want</div>
                        </div>

                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer hstack p-0 border-0 bg-light overflow-auto">
                    <button type="button" class="btn flex-fill rounded-0 col-6 py-3 btn-link text-secondary text-decoration-none m-0 border-end" data-bs-dismiss="modal">Cancel</button>
                    <a role="button" href="#" class="btn flex-fill rounded-0 col-6 btn-link py-3 text-dark text-decoration-none m-0">Create Team</a>
                </div>
                
            </div>
            


          </div>
        </div>

    </div>
    <!-- END Modal: Create New Team -->