    <!-- START Modal: Invite Users -->
    <div class="modal fade" id="modalInviteUsers" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    
        <div class="modal-dialog position-relative show">

            {% include modals/button-close-modal.html %}

            <div class="modal-content shadow-sm rounded-5 overflow-auto z-2">

                <!-- Content -->
                <div class="modal-body px-4 pt-4">
                    <div class="d-flex flex-column">
                        <h5 class="mb-5 text-center fw-normal">
                            Invite users to this team
                        </h5>
                        
                        <div class="input-group mb-2">
                            <input type="email" class="form-control" placeholder="example@email.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>

                        <div class="input-group mb-2">
                            <input type="email" class="form-control" placeholder="example@email.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>

                        <button class="btn btn-link text-body-emphasis text-decoration-none" type="button" id="button-addon2">
                            <i class="fa fa-plus me-2 text-secondary"></i> Add other
                        </button>
                        
                        <hr class="mt-4 mb-5 opacity-25" />
                       
                        <div class="mb-3">
                            <label for="inputPassword5" class="form-label">Team Invite Link</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="http://zackary.org/project/tasks/subtask" aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
                                <button class="btn btn-primary" type="button" id="button-addon2">Copy invite link</button>
                            </div>
                            <div id="passwordHelpBlock" class="form-text">
                                Anyone with this link can join the team.
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer hstack p-0 m-0 rounded-bottom">
                    <button type="button" class="btn btn-link btn-ghost flex-fill rounded-0 col-6 py-3 text-secondary text-decoration-none m-0 border-end" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a role="button" href="#" class="btn btn-link btn-ghost flex-fill rounded-0 col-6 py-3 text-body-emphasis text-decoration-none m-0">
                        Invite
                    </a>
                </div>
                
            </div>
            


          </div>
        </div>

    </div>
    <!-- END Modal: Create Project -->