<article class="my-3" id="alerts">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Alerts</h3>
    <a class="d-flex align-items-center" href="../components/alerts/">Documentation</a>
  </div>

  <div class="row row-cols-1 row-cols-md-1 g-4 pb-5 pt-0">

    <div class="col">
      <!-- START Alert Primary -->
      <div class="alert alert-primary d-flex p-4 rounded-3" role="alert">
        <i class="fa fa-info-circle text-primary me-3 align-self-center"></i>
        <div class="mb-0">This alert needs your attention, but it's not important.</div>
        <button type="button" class="btn-close btn-sm ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->

      <!-- START Alert Primary -->
      <div class="alert alert-primary d-flex p-4 rounded-3" role="alert">
        <i class="fa fa-info-circle text-primary me-3" style="vertical-align: top;"></i>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->

      <!-- START Alert Primary -->
      <div class="alert alert-primary d-flex p-4 rounded-3" role="alert">
        <span class="fa-stack me-3" style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-info fa-stack-1x"></i>
        </span>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
    </div>

    <div class="col">
      <!-- START Alert Primary -->
      <div class="alert alert-primary-light d-flex p-4 rounded-3 shadow-sm" role="alert">
        <i class="fa fa-info-circle text-primary me-3 align-self-center"></i>
        <div class="mb-0">This alert needs your attention, but it's not important.</div>
        <button type="button" class="btn-close btn-sm ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
  
      <!-- START Alert Primary -->
      <div class="alert alert-primary-light d-flex p-4 rounded-3 shadow-sm" role="alert">
        <i class="fa fa-info-circle text-primary me-3" style="vertical-align: top;"></i>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
  
      <!-- START Alert Primary -->
      <div class="alert alert-primary-light d-flex p-4 rounded-3 shadow-sm" role="alert">
        <span class="fa-stack me-3" style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-info fa-stack-1x"></i>
        </span>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
    </div>

    <div class="col">
       <!-- START Alert Primary -->
       <div class="alert alert-primary-dark d-flex p-4 rounded-3 shadow-sm" role="alert">
        <i class="fa fa-info-circle text-primary me-3 align-self-center"></i>
        <div class="mb-0">This alert needs your attention, but it's not important.</div>
        <button type="button" class="btn-close btn-close-white btn-sm ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
  
      <!-- START Alert Primary -->
      <div class="alert alert-primary-dark d-flex p-4 rounded-3 shadow-sm" role="alert">
        <i class="fa fa-info-circle text-primary me-3" style="vertical-align: top;"></i>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-close-white btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
  
      <!-- START Alert Primary -->
      <div class="alert alert-primary-dark d-flex p-4 rounded-3 shadow-sm" role="alert">
        <span class="fa-stack me-3" style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-info fa-stack-1x"></i>
        </span>
        <div class="flex-grow-1">
          <h6 class="mb-1">Alert Primary</h6>
          <div class="mb-3">This alert needs your attention, but it's not important.</div>
          <div class="d-flex align-items-start">
            <button type="button" class="btn btn-primary px-3">Confirm</button>
            <button type="button" class="btn btn-link px-3">Cancel</button>
          </div>
        </div>
        <button type="button" class="btn-close btn-close-white btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- END Alert Primary -->
    </div>

  </div>

</article>