        <!-- START Card: All Colors -->
        <div class="card shadow-sm border-0 overflow-auto">

            <div class="card-body text-center bg-{{ include.colorTitle }}-100">
                <div class="text-dark">*-{{ include.colorTitle }}-100</div>
                <code class="code-light">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-200">
                <div class="text-dark">*-{{ include.colorTitle }}-200</div>
                <code class="code-light">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-300">
                <div class="text-dark">*-{{ include.colorTitle }}-300</div>
                <code class="code-light">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-400">
                <div class="text-white">*-{{ include.colorTitle }}-400</div>
                <code class="code-dark">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-500">
                <div class="text-white">*-{{ include.colorTitle }}-500</div>
                <code class="code-dark">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-600">
                <div class="text-white">*-{{ include.colorTitle }}-600</div>
                <code class="code-dark">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-700">
                <div class="text-white">*-{{ include.colorTitle }}-700</div>
                <code class="code-dark">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-800">
                <div class="text-white">*-{{ include.colorTitle }}-800</div>
                <code class="code-dark">#0d6efd</code>
            </div>

            <div class="card-body text-center bg-{{ include.colorTitle }}-900">
                <div class="text-white">*-{{ include.colorTitle }}-900</div>
                <code class="code-dark">#0d6efd</code>
            </div>

        </div>
        <!-- END Card: All Colors -->