<article class="my-3" id="avatars">
    
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Avatars</h3>
        <a class="d-flex align-items-center" href="../components/avatars/">Documentation</a>
    </div>

    <div>

        <div class="bd-example">

            <!-- START Card with Avatars-->
            <div class="card shadow-sm">
                <div class="card-body p-4">

                    {% include cheatsheet/avatar/avatar-basics.html 
                    %}

                    <hr class="mb-4"/>
                    {% include cheatsheet/avatar/avatar-badges.html 
                    %}

                    <hr class="mb-4"/>
                    {% include cheatsheet/avatar/avatar-status.html 
                        title="Status"
                    %}
                    
                    <hr class="mb-4"/>
                    {% include cheatsheet/avatar/avatar-icon.html 
                        title="Icon"
                    %}
                    
                    <hr class="mb-4"/>
                    {% include cheatsheet/avatar/avatar-stacked.html 
                        title="Stacked"
                    %}  

                </div>
            </div>
            <!-- END Card with Avatars-->

        </div>

    </div>
</article>