<article class="my-3" id="badge">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Badge</h3>
    <a class="d-flex align-items-center" href="../components/badge/">Documentation</a>
  </div>

  <div>

    <h2 class="mb-4">Default Badges</h2>

    <h4>Basic</h4>

    <!-- Badges Filled -->
    <div class="bd-example pb-2">
      <span class="badge bg-primary">Primary</span>
      <span class="badge bg-secondary">Secondary</span>
      <span class="badge bg-success">Success</span>
      <span class="badge bg-danger">Danger</span>
      <span class="badge bg-warning text-dark">Warning</span>
      <span class="badge bg-info text-dark">Info</span>
      <span class="badge bg-light text-dark">Light</span>
      <span class="badge bg-dark">Dark</span>
    </div>
    <div class="bd-example pb-4">
      <span class="badge rounded-pill bg-primary">Primary</span>
      <span class="badge rounded-pill bg-secondary">Secondary</span>
      <span class="badge rounded-pill bg-success">Success</span>
      <span class="badge rounded-pill bg-danger">Danger</span>
      <span class="badge rounded-pill bg-warning text-dark">Warning</span>
      <span class="badge rounded-pill bg-info text-dark">Info</span>
      <span class="badge rounded-pill bg-light text-dark">Light</span>
      <span class="badge rounded-pill bg-dark">Dark</span>
    </div>

    <!-- Badges Outlined -->
    <div class="bd-example pb-2">
      <span class="badge badge-outline-primary text-dark">Primary</span>
      <span class="badge badge-outline-secondary text-dark">Secondary</span>
      <span class="badge badge-outline-success text-dark">Success</span>
      <span class="badge badge-outline-danger text-dark">Danger</span>
      <span class="badge badge-outline-warning text-dark">Warning</span>
      <span class="badge badge-outline-info text-dark">Info</span>
      <span class="badge badge-outline-light text-dark">Light</span>
      <span class="badge badge-outline-dark text-dark">Dark</span>
    </div>
    <div class="bd-example pb-4">
      <span class="badge badge-outline-primary rounded-pill text-dark">Primary</span>
      <span class="badge badge-outline-secondary rounded-pill text-dark">Secondary</span>
      <span class="badge badge-outline-success rounded-pill text-dark">Success</span>
      <span class="badge badge-outline-danger rounded-pill text-dark">Danger</span>
      <span class="badge badge-outline-warning rounded-pill text-dark">Warning</span>
      <span class="badge badge-outline-info rounded-pill text-dark">Info</span>
      <span class="badge badge-outline-light rounded-pill text-dark">Light</span>
      <span class="badge badge-outline-dark rounded-pill text-dark">Dark</span>
    </div>

    <!-- Badges Light -->
    <div class="bd-example pb-2">
      <span class="badge badge-light-primary ">Primary</span>
      <span class="badge badge-light-secondary ">Secondary</span>
      <span class="badge badge-light-success">Success</span>
      <span class="badge badge-light-danger">Danger</span>
      <span class="badge badge-light-warning ">Warning</span>
      <span class="badge badge-light-info ">Info</span>
      <span class="badge badge-light-light">Light</span>
      <span class="badge badge-light-dark">Dark</span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge badge-light-primary rounded-pill">Primary</span>
      <span class="badge badge-light-secondary rounded-pill">Secondary</span>
      <span class="badge badge-light-success rounded-pill">Success</span>
      <span class="badge badge-light-danger rounded-pill">Danger</span>
      <span class="badge badge-light-warning rounded-pill">Warning</span>
      <span class="badge badge-light-info rounded-pill">Info</span>
      <span class="badge badge-light-light rounded-pill">Light</span>
      <span class="badge badge-light-dark rounded-pill">Dark</span>
    </div>





    <h4>Left Icons</h4>

    <!-- Badges Filled -->
    <div class="bd-example pb-2">
      <span class="badge bg-primary">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Primary
      </span>
      <span class="badge bg-secondary">
        <i class="fa fa-clock me-1 opacity-75"></i>
        Secondary</span>
      <span class="badge bg-success">
        <i class="fa fa-check-circle me-1 opacity-75"></i>
        Success</span>
      <span class="badge bg-danger">
        <i class="fa fa-times-circle me-1 opacity-75"></i>
        Danger</span>
      <span class="badge bg-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 opacity-50"></i>
        Warning</span>
      <span class="badge bg-info text-dark">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Info</span>
      <span class="badge bg-light text-dark">
        <i class="fa fa-clock me-1 opacity-25"></i>
        Light</span>
      <span class="badge bg-dark">
        <i class="fa fa-times-circle me-1 opacity-50"></i>
        Dark</span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge rounded-pill bg-primary">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Primary
      </span>
      <span class="badge rounded-pill bg-secondary">
        <i class="fa fa-clock me-1 opacity-75"></i>
        Secondary</span>
      <span class="badge rounded-pill bg-success">
        <i class="fa fa-check-circle me-1 opacity-75"></i>
        Success</span>
      <span class="badge rounded-pill bg-danger">
        <i class="fa fa-times-circle me-1 opacity-75"></i>
        Danger</span>
      <span class="badge rounded-pill bg-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 opacity-50"></i>
        Warning</span>
      <span class="badge rounded-pill bg-info text-dark">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Info</span>
      <span class="badge rounded-pill bg-light text-dark">
        <i class="fa fa-clock me-1 opacity-25"></i>
        Light</span>
      <span class="badge rounded-pill bg-dark">
        <i class="fa fa-times-circle me-1 opacity-50"></i>
        Dark</span>
    </div>

    <!-- Badges Outlined -->
    <div class="bd-example pb-2">
      <span class="badge badge-outline-primary text-dark">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
      </span>
      <span class="badge badge-outline-secondary text-dark">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary</span>
      <span class="badge badge-outline-success text-dark">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success</span>
      <span class="badge badge-outline-danger text-dark">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger</span>
      <span class="badge badge-outline-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 text-warning opacity-75"></i>
        Warning</span>
      <span class="badge badge-outline-info text-dark">
        <i class="fa fa-info-circle me-1 text-info opacity-75"></i>
        Info</span>
      <span class="badge badge-outline-light text-dark">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light</span>
      <span class="badge badge-outline-dark text-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark</span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge rounded-pill badge-outline-primary text-dark">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
      </span>
      <span class="badge rounded-pill badge-outline-secondary text-dark">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary</span>
      <span class="badge rounded-pill badge-outline-success text-dark">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success</span>
      <span class="badge rounded-pill badge-outline-danger text-dark">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger</span>
      <span class="badge rounded-pill badge-outline-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 text-warning opacity-75"></i>
        Warning</span>
      <span class="badge rounded-pill badge-outline-info text-dark">
        <i class="fa fa-info-circle me-1 text-info opacity-75"></i>
        Info</span>
      <span class="badge rounded-pill badge-outline-light text-dark">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light</span>
      <span class="badge rounded-pill badge-outline-dark text-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark</span>
    </div>

    <!-- Badges Light -->
    <div class="bd-example pb-2">
      <span class="badge badge-light-primary">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
      </span>
      <span class="badge badge-light-secondary">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary</span>
      <span class="badge badge-light-success">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success</span>
      <span class="badge badge-light-danger">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger</span>
      <span class="badge badge-light-warning">
        <i class="fa fa-exclamation-circle me-1 text-warning"></i>
        Warning</span>
      <span class="badge badge-light-info">
        <i class="fa fa-info-circle me-1 text-info"></i>
        Info</span>
      <span class="badge badge-light-light">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light</span>
      <span class="badge badge-light-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark</span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge badge-light-primary rounded-pill">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
      </span>
      <span class="badge badge-light-secondary rounded-pill">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary</span>
      <span class="badge badge-light-success rounded-pill">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success</span>
      <span class="badge badge-light-danger rounded-pill">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger</span>
      <span class="badge badge-light-warning rounded-pill">
        <i class="fa fa-exclamation-circle me-1 text-warning"></i>
        Warning</span>
      <span class="badge badge-light-info rounded-pill">
        <i class="fa fa-info-circle me-1 text-info"></i>
        Info</span>
      <span class="badge badge-light-light rounded-pill">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light</span>
      <span class="badge badge-light-dark rounded-pill">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark</span>
    </div>



    <h4>With Close</h4>

    <!-- Badges Filled -->
    <div class="bd-example pb-2">
      <span class="badge bg-primary">
        Primary
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-secondary">
        Secondary
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-success">
        Success
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-danger">
        Danger
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-warning text-dark">
        Warning
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-info text-dark">
        Info
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-light text-dark">
        Light
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge bg-dark">
        Dark
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge rounded-pill bg-primary">
        Primary
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-secondary">
        Secondary
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-success">
        Success
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-danger">
        Danger
        <a href="#" class="text-white opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-warning text-dark">
        Warning
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-info text-dark">
        Info
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-light text-dark">
        Light
        <a href="#" class="text-dark opacity-50">
          <i class="fa fa-times-circle ms-1"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-dark">
        Dark
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>

    <!-- Badges Outlined -->
    <div class="bd-example pb-2">
      <span class="badge badge-outline-primary text-dark">
        Primary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-secondary text-dark">
        Secondary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-success text-dark">
        Success
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-danger text-dark">
        Danger
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-warning text-dark">
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-info text-dark">
        Info
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-light text-dark">
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-dark text-dark">
        Dark
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge rounded-pill badge-outline-primary text-dark">
        Primary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-secondary text-dark">
        Secondary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-success text-dark">
        Success
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-danger text-dark">
        Danger
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-warning text-dark">
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-info text-dark">
        Info
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-light text-dark">
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill  badge-outline-dark text-dark">
        Dark
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>

    <!-- Badges Light -->
    <div class="bd-example pb-2">
      <span class="badge badge-light-primary pe-1">
        Primary
        <a href="#" class="text-dark opacity-50 ms-1 lh-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-secondary pe-1">
        Secondary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-success pe-1">
        Success
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-danger pe-1">
        Danger
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-warning pe-1">
        Warning
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-info pe-1">
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-light pe-1">
        Light
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-dark pe-1">
        Dark
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge badge-light-primary rounded-pill pe-1">
        Primary
        <a href="#" class="text-dark opacity-50 ms-1 lh-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-secondary rounded-pill pe-1">
        Secondary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-success rounded-pill pe-1">
        Success
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-danger rounded-pill pe-1">
        Danger
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-warning rounded-pill pe-1">
        Warning
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-info rounded-pill pe-1">
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-light rounded-pill pe-1">
        Light
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-dark rounded-pill pe-1">
        Dark
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>


    <h4>with Icon & Close</h4>

    <!-- Badges Filled -->
    <div class="bd-example pb-2">
      <span class="badge bg-primary">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Primary
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-secondary">
        <i class="fa fa-clock me-1 opacity-75"></i>
        Secondary
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-success">
        <i class="fa fa-check-circle me-1 opacity-75"></i>
        Success
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-danger">
        <i class="fa fa-times-circle me-1 opacity-75"></i>
        Danger
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 opacity-50"></i>
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-info text-dark">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-light text-dark">
        <i class="fa fa-clock me-1 opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge bg-dark">
        <i class="fa fa-times-circle me-1 opacity-50"></i>
        Dark
        <a href="#" class="text-white opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge rounded-pill bg-primary">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Primary
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-secondary">
        <i class="fa fa-clock me-1 opacity-75"></i>
        Secondary
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-success">
        <i class="fa fa-check-circle me-1 opacity-75"></i>
        Success
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-danger">
        <i class="fa fa-times-circle me-1 opacity-75"></i>
        Danger
        <a href="#" class="text-white opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 opacity-50"></i>
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-info text-dark">
        <i class="fa fa-info-circle me-1 opacity-75"></i>
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-light text-dark">
        <i class="fa fa-clock me-1 opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge rounded-pill bg-dark">
        <i class="fa fa-times-circle me-1 opacity-50"></i>
        Dark
        <a href="#" class="text-white opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>


    <!-- Badges Outlined -->
    <div class="bd-example pb-2">
      <span class="badge badge-outline-primary text-dark">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-secondary text-dark">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-success text-dark">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-danger text-dark">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-warning text-dark">
        <i class="fa fa-exclamation-circle me-1 text-warning opacity-75"></i>
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-info text-dark">
        <i class="fa fa-info-circle me-1 text-info opacity-75"></i>
        Info
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-light text-dark">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-dark text-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge badge-outline-primary rounded-pill text-dark">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-secondary rounded-pill text-dark">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-success rounded-pill text-dark">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-danger rounded-pill text-dark">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-warning rounded-pill text-dark">
        <i class="fa fa-exclamation-circle me-1 text-warning opacity-75"></i>
        Warning
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-info rounded-pill text-dark">
        <i class="fa fa-info-circle me-1 text-info opacity-75"></i>
        Info
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-light rounded-pill text-dark">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-outline-dark rounded-pill text-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark
        <a href="#" class="text-dark opacity-25 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>


    <!-- Badges Light -->
    <div class="bd-example pb-2">
      <span class="badge badge-light-primary">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-secondary">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-success">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-danger">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-warning">
        <i class="fa fa-exclamation-circle me-1 text-warning"></i>
        Warning
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-info">
        <i class="fa fa-info-circle me-1 text-info"></i>
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-light">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-dark">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>
    <div class="bd-example pb-5">
      <span class="badge badge-light-primary rounded-pill">
        <i class="fa fa-info-circle me-1 opacity-75 text-primary"></i>
        Primary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-secondary rounded-pill">
        <i class="fa fa-clock me-1 text-secondary opacity-75"></i>
        Secondary
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-success rounded-pill">
        <i class="fa fa-check-circle me-1 text-success opacity-75"></i>
        Success
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-danger rounded-pill">
        <i class="fa fa-times-circle me-1 text-danger opacity-75"></i>
        Danger
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-warning rounded-pill">
        <i class="fa fa-exclamation-circle me-1 text-warning"></i>
        Warning
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-info rounded-pill">
        <i class="fa fa-info-circle me-1 text-info"></i>
        Info
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-light rounded-pill">
        <i class="fa fa-clock me-1 text-dark opacity-25"></i>
        Light
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span class="badge badge-light-dark rounded-pill">
        <i class="fa fa-times-circle me-1 text-dark opacity-50"></i>
        Dark
        <a href="#" class="text-dark opacity-50 ms-1">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    </div>


    <h2 class="mb-4">Badges Filters</h2>
    <div class="card shadow-sm">
      <div class="card-body">

        <h4 class="mb-4">Default</h4>

        <h5 class="mb-3">Large</h5>
        <h6 class="mb-3 text-secondary">UI Patterns</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            avatarInitials=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            avatarIcon=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle="" 
            avatar=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            icon=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            iconColor=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Right Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            customClass="px-3"
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            customClass="px-3"
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            customClass="ps-3"
            titleMe-2=""
            withoutLeft=""
            withClose=""
          %}
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            customClass="ps-3"
            withoutLeft=""
            withResult=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Left Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            avatarInitials=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            avatar=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            avatarIcon=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            icon=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            outlineStyle=""
            iconColor=""
            titleMe-2=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">as Link</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html
            outlineStyle=""
            asLink=""
            avatarInitials=""
            titleMe-2=""
          %}
        </div>

        <h5 class="mb-3">Small</h5>

        <h6 class="mb-3 text-secondary">UI Patterns</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            avatarIcon=""
            withResult=""
            withClose=""
            outlineStyle=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            icon=""
            withResult=""
            withClose=""
            outlineStyle=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            iconColor=""
            withResult=""
            withClose=""
            outlineStyle=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Left Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            outlineStyle=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            outlineStyle=""
            avatarIcon=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            outlineStyle=""
            icon=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            outlineStyle=""
            iconColor=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Right Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            outlineStyle=""
            withResult=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            outlineStyle=""
            withClose=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">as Link</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            asLink=""
            outlineStyle=""
            withResult=""
          %}
        </div>

        <hr class="my-4"/>

        <h4 class="mb-4">Outline</h4>
        <h5 class="mb-3">Large</h5>
        <h6 class="mb-3 text-secondary">UI Patterns</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html 
            avatarInitials=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            avatarIcon=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            avatar=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            icon=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            iconColor=""
            withClose=""
            withResult=""
            withSubtitle=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Right Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html
            customClass="px-3"
          %}
          {% include cheatsheet/badge/badge-example.html
            customClass="px-3"
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-example.html
            customClass="ps-3"
            titleMe-2=""
            withoutLeft=""
            withClose=""
          %}
          {% include cheatsheet/badge/badge-example.html
            customClass="ps-3"
            withoutLeft=""
            withResult=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Left Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html 
            avatarInitials=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            avatar=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            avatarIcon=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            icon=""
            titleMe-2=""
          %}
          {% include cheatsheet/badge/badge-example.html 
            iconColor=""
            titleMe-2=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">as Link</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-example.html
            asLink=""
            avatarInitials=""
            titleMe-2=""
          %}
        </div>

        <h5 class="mb-3">Small</h5>

        <h6 class="mb-3 text-secondary">UI Patterns</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            avatarIcon=""
            withResult=""
            withClose=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            icon=""
            withResult=""
            withClose=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
            iconColor=""
            withResult=""
            withClose=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Left Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            withSubtitle=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            avatarIcon=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            icon=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            iconColor=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">Right Side Options</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            withResult=""
          %}
          {% include cheatsheet/badge/badge-filter-example.html
            withClose=""
          %}
        </div>

        <h6 class="mb-3 text-secondary">as Link</h6>
        <div class="hstack gap-1 mb-4">
          {% include cheatsheet/badge/badge-filter-example.html
            asLink=""
            withResult=""
          %}
        </div>



      </div>
    </div>


  </div>
</article>