<article class="my-3" id="button-group">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Button group</h3>
    <a class="d-flex align-items-center" href="../components/button-group/">Documentation</a>
  </div>

  <div>
    <div class="bd-example pb-5">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">1</button>
          <button type="button" class="btn btn-secondary">2</button>
          <button type="button" class="btn btn-secondary">3</button>
          <button type="button" class="btn btn-secondary">4</button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary">5</button>
          <button type="button" class="btn btn-secondary">6</button>
          <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-secondary">8</button>
        </div>
      </div>
    </div>


    <div class="bd-example">
      <h4 class="mb-4">Blue</h4>
      <!-- Buttons Blue -->
      <div class="hstack gap-2 pb-5">
        <button type="button" class="btn btn-subtle-primary px-4">Subtle Primary</button>
        <button type="button" class="btn btn-outline-primary px-4 shadow-sm">Outline Primary</button>
        <button type="button" class="btn btn-primary px-4">Primary</button>
        <button type="button" class="btn btn-link link-primary text-decoration-none px-4">Link</button>
        <button type="button" class="btn btn-pill-primary text-decoration-none px-4" data-bs-toggle="button"
          autocomplete="off">Pill</button>
      </div>

      <h4 class="mb-2">Light</h4>
      <h5 class="text-secondary mb-3">Default</h5>
      <div class="hstack gap-2 pb-5">
        <button type="button" class="btn btn-outline-light px-4">Outline Light</button>
        <button type="button" class="btn btn-light px-4">Light</button>
        <button type="button" class="btn btn-subtle-light px-4">Subtle Light</button>
        <button type="button" class="btn btn-link link-secondary text-decoration-none px-4">Link</button>
        <button type="button" class="btn btn-pill-light text-decoration-none px-4" data-bs-toggle="button" autocomplete="off">Pill</button>
      </div>

      <h5 class="text-secondary mb-2">Group</h5>
      <div class="hstack gap-2 mb-2">
        <div class="btn-group rounded-5" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-light px-4 rounded-start-5 active" data-bs-toggle="button" autocomplete="off">Settings</button>
          <button type="button" class="btn btn-outline-light px-4" data-bs-toggle="button" autocomplete="off">Profile</button>
          <button type="button" class="btn btn-outline-light px-4 rounded-end-5" data-bs-toggle="button" autocomplete="off">Logout</button>
        </div>
      </div>
      <div class="hstack gap-2 mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-sm btn-outline-light px-3 active" data-bs-toggle="button" autocomplete="off">Settings</button>
          <button type="button" class="btn btn-sm btn-outline-light px-3" data-bs-toggle="button" autocomplete="off">Profile</button>
          <button type="button" class="btn btn-sm btn-outline-light px-3" data-bs-toggle="button" autocomplete="off">Logout</button>
        </div>
      </div>

      <div class="hstack gap-2 mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-light px-4 active" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-cog me-2"></i>Settings
          </button>
          <button type="button" class="btn btn-outline-light px-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-user me-2"></i>Profile
          </button>
          <button type="button" class="btn btn-outline-light px-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-power-off me-2"></i>Logout
          </button>
        </div>
      </div>

      <div class="hstack gap-2 mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-light px-4 active" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-cog"></i>
          </button>
          <button type="button" class="btn btn-outline-light px-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-user"></i>
          </button>
          <button type="button" class="btn btn-outline-light px-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-power-off"></i>
          </button>
        </div>
      </div>

      <div class="col-8 hstack gap-2">
        <div class="btn-group hstack gap-1" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-pill-light px-3 rounded-4 active" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-cog"></i>
          </button>
          <button type="button" class="btn btn-pill-light px-3 rounded-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-user"></i>
          </button>
          <button type="button" class="btn btn-pill-light px-3 rounded-4" data-bs-toggle="button" autocomplete="off">
            <i class="fa fa-power-off"></i>
          </button>
        </div>
      </div>
      
    </div>

  </div>
</article>