<article class="my-3" id="colors">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h4>Colors</h4>
    <a class="d-flex align-items-center" href="../content/images/">Documentation</a>
  </div>

  <div>
    <h5 class="pb-0">Theme Colors</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-5 pt-0">
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Primary"
          color="primary"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Secondary"
          color="secondary"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Success"
          color="success"
        %}
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Danger"
            color="danger"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Warning"
            color="warning"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Info"
            color="info"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Light"
            color="light"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Dark"
            color="dark"
          %}
        </div>
      </div>
    </div>

    <h5 class="pb-0">Greys</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Gray 100"
          color="gray-100"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Gray 200"
          color="gray-200"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Gray 300"
          color="gray-300"
        %}
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 400"
            color="gray-400"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 500"
            color="gray-500"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 600"
            color="gray-600"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 700"
            color="gray-700"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 800"
            color="gray-800"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Gray 900"
            color="gray-900"
          %}
        </div>
      </div>
    </div>

    <h5 class="pb-0">Social Colors</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Facebook"
          color="facebook"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Twitter"
          color="twitter"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/card-colors.html 
          title="Linkedin"
          color="linkedin"
        %}
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Pinterest"
            color="pinterest"
          %}
        </div>
      </div>
      <div class="col">
        <div class="col">
          {% include cheatsheet/card-colors.html 
            title="Spotify"
            color="spotify"
          %}
        </div>
      </div>
    </div>

    <h5 class="pb-0">All Colorrs</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="blue"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="indigo"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="purple"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="pink"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="red"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="orange"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="yellow"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="green"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="teal"
        %}
      </div>
      <div class="col">
        {% include cheatsheet/all-colors.html 
          colorTitle="cyan"
        %}
      </div>
    </div>


  </div>

</article>