<article class="my-3" id="dropdowns">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Dropdowns</h3>
    <a class="d-flex align-items-center" href="../components/dropdowns/">Documentation</a>
  </div>



  <div>
    <div class="bd-example d-flex justify-content-center flex-column align-items-center" style="height: 400px;">

      <!-- START Dropdown Profile -->
      <ul class="dropdown-menu show shadow-sm rounded-4">
        <div class="pb-1 px-3">
          <div>Esta Deckow</div>
          <small class="text-muted">
            esta.deckow@deckow.co.uk
          </small>
        </div>
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="dropdown-header">Menu</h6></li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="fa fa-user fa-fw me-2 opacity-50"></i> Profile
          </a>
        </li>
        <li>
          <a class="dropdown-item active" href="#">
            <i class="fa fa-cog fa-fw me-2 opacity-50"></i> Settings
          </a>
        </li>
        <li>
          <a class="dropdown-item disabled" href="#">
            <i class="far fa-credit-card fa-fw me-2 opacity-50"></i> Billings
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="fa fa-power-off fa-fw me-2 opacity-50"></i>
            Sign Out
          </a>
        </li>
      </ul>
      <!-- END Dropdown Profile -->

    </div>
</article>