<article class="my-3" id="list-group">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>List group</h3>
    <a class="d-flex align-items-center" href="../components/list-group/">Documentation</a>
  </div>

  <div>
    <div class="bd-example mb-3">
      <div class="list-group shadow-sm">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          The current link item
        </a>
        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
      </div>
    </div>

    <div class="bd-example mb-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
    </div>

    <div class="bd-example">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
      
      <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
    </div>
    </div>
  </div>
</article>