<article class="my-3" id="modal">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Modal</h3>
    <a class="d-flex align-items-center" href="../components/modal/">Documentation</a>
  </div>

  <div>

    <div class="bd-example">

      <h5 class="mb-3">Default Modal</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html %}
      </div>

      <h5 class="mb-3">Modal with Full Footer</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          footerFull=""  
        %}
      </div>

      <h5 class="mb-3">Modal without Header</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          headerOff=""
          footerFull=""  
        %}
      </div>

      <h5 class="mb-3">Modal with Close outside</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          headerOff=""
          closeOutside=""
          footerFull=""  
        %}
      </div>

      <h5 class="mb-3">Modal with Header inside Body</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          headerOff=""
          bodyWithHeader=""
          closeOutside=""
          footerFull=""  
        %}
      </div>
  
      <h5 class="mb-3">Modal Center Header</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          headerOff=""
          centerHeader=""
          closeOutside=""
          footerFull=""  
        %}
      </div>

      <h5 class="mb-3">Modal Contextual: Danger</h5>
      <div class="card bg-light rounded-5 overflow-auto mb-5">
        {% include cheatsheet/modal/modal-example.html 
          headerOff=""
          contextualDanger=""
        %}
      </div>


    <div class="bd-example">
      <div class="d-flex justify-content-between flex-wrap">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDefault">
          Launch demo modal
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropLive">
          Launch static backdrop modal
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModalCenteredScrollable">
          Vertically centered scrollable modal
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
          Full screen
        </button>
      </div>
    </div>
  </div>
</article>