<article class="my-3" id="offcanvas">

    {% include cheatsheet/section-nav.html
        title="Offcanvas"
    %}

    <div class="row row-cols-1 row-cols-md-1 g-4 pb-5 pt-0">

        <div class="col">
            <h5 class="mb-3">Offcanvas Start</h5>

            <!-- START Demo for Offcanvas -->
            <div class="card p-0 bg-light overflow-auto h-100">
                {% include cheatsheet/offcanvas/offcanvas-example.html
                    title="start"
                    position="offcanvas-start"
                    demoStyle=""
                %}
                <div class="card-footer p-3">
                    <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvas-start" role="button"
                        aria-controls="offcanvas-start">
                        See Demo
                    </a>
                </div>
                {% include cheatsheet/offcanvas/offcanvas-example.html
                    title="start"
                    position="offcanvas-start"
                %}
            </div>
            <!-- END Demo for Offcanvas -->

        </div>

    </div>

</article>