<article class="my-3" id="overview">

  <!-- START Section Nav. -->
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Overview</h3>
    <a class="d-flex align-items-center" href="../forms/overview/">Documentation</a>
  </div>
  <!-- START Section Nav. -->

  <div>
    <div class="bd-example">
      
      <div class="card shadow-sm">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email...">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password...">
            </div>
            <div class="mb-5 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <fieldset class="mb-3">
              <legend class="h6">Radios buttons</legend>
              <div class="form-check">
                <input type="radio" name="radios" class="form-check-input" id="exampleRadio1">
                <label class="form-check-label" for="exampleRadio1">Default radio</label>
              </div>
              <div class="mb-3 form-check">
                <input type="radio" name="radios" class="form-check-input" id="exampleRadio2">
                <label class="form-check-label" for="exampleRadio2">Another radio</label>
              </div>
            </fieldset>
            <div class="mb-3">
              <label class="form-label" for="customFile">Upload</label>
              <input type="file" class="form-control" id="customFile">
            </div>
            <div class="mb-3 form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
            </div>
            <div class="mb-3">
              <label for="customRange3" class="form-label">Example range</label>
              <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</article>