<article class="my-3" id="pagination">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Pagination</h3>
    <a class="d-flex align-items-center" href="../components/pagination/">Documentation</a>
  </div>

  <div>
    <div class="bd-example mb-3">
      <nav aria-label="Pagination example" class="d-inline-flex">
        <ul class="pagination pagination-sm mb-0  gap-1">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </div>

    <div class="bd-example mb-3">
    <nav aria-label="Standard pagination example"  class="d-inline-flex">
      <ul class="pagination mb-0 gap-1">
        <li class="page-item">
          <a class="page-link " href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>

    <div class="bd-example">
    <nav aria-label="Another pagination example"  class="d-inline-flex">
      <ul class="pagination pagination-lg flex-wrap  mb-0 gap-1">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</article>