<article class="my-3" id="progress">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Progress</h3>
    <a class="d-flex align-items-center" href="../components/progress/">Documentation</a>
  </div>

  <div>
    <h5 class="mb-4">Progress examples</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-5 pt-0">

      <div class="col">
        <div class="pb-2">Progress Default</div>
        {% include cheatsheet/progress/progress-example.html 
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Success</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="success"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Danger</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="danger"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Warning</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="warning"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Dark</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="dark"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Info</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="info"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Secondary</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="secondary"
        %}
      </div>

      <div class="col">
        <div class="pb-2">Progress Pink</div>
        {% include cheatsheet/progress/progress-example.html 
          progressbarBg="pink-500"
        %}
      </div>

    </div>


    <div class="bd-example">
      <h5 class="mb-4">Progress variations</h5>
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">25%</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar bg-info text-dark w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100">50%</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar bg-warning text-dark w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100">75%</div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar bg-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="100">100%</div>
      </div>
    </div>

    <div class="bd-example">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
          style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</article>