<nav class="small" id="toc">
  <ul class="list-unstyled">
    <li class="my-2">
      <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Contents</button>
      <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
        <li><a class="d-inline-flex align-items-center rounded" href="#colors">Colors</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#typography">Typography</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#images">Images</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#tables">Tables</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#figures">Figures</a></li>
      </ul>
    </li>
    <li class="my-2">
      <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Forms</button>
      <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
        <li><a class="d-inline-flex align-items-center rounded" href="#overview">Overview</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#disabled-forms">Disabled forms</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#sizing">Sizing</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#input-group">Input group</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#floating-labels">Floating labels</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#validation">Validation</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#radios-checks">Radios & Checks</a></li>
      </ul>
    </li>
    <li class="my-2">
      <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Components</button>
      <ul class="list-unstyled ps-3 collapse" id="components-collapse">
        <li><a class="d-inline-flex align-items-center rounded" href="#accordion">Accordion</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#alerts">Alerts</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#badge">Badge</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#breadcrumb">Breadcrumb</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#buttons">Buttons</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#button-group">Button group</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#card">Card</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#carousel">Carousel</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#dropdowns">Dropdowns</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#list-group">List group</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#modal">Modal</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#navs">Navs</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#navbar">Navbar</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#pagination">Pagination</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#popovers">Popovers</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#progress">Progress</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#scrollspy">Scrollspy</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#spinners">Spinners</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#toasts">Toasts</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#tooltips">Tooltips</a></li>
        <li><a class="d-inline-flex align-items-center rounded" href="#tooltips">Offcanvas</a></li>
      </ul>
    </li>
    <li class="my-2">
      <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#custom-collapse" aria-controls="custom-collapse">Custom</button>
      <ul class="list-unstyled ps-3 collapse" id="custom-collapse">
        <li><a class="d-inline-flex align-items-center rounded" href="#avatars">Avatars</a></li>
      </ul>
      <ul class="list-unstyled ps-3 collapse" id="custom-collapse">
        <li><a class="d-inline-flex align-items-center rounded" href="#sidebar">Sidebar</a></li>
      </ul>
    </li>
  </ul>
</nav>