<article class="my-3" id="sidebar">

    {% include cheatsheet/section-nav.html
        title="Sidebar"
    %}

    <div class="row row-cols-1 row-cols-md-1 g-4 pb-5 pt-0">

        <div class="col">
            <h5 class="mb-3">Slim Sidebar</h5>
            <div class="card bg-light rounded-5 overflow-auto mb-5">
                <div class="bg-primary flex-column p-3 sidebar-primary" style="width: 80px;">
                    {% include cheatsheet/sidebar/sidebar-slim.html %}
                </div>
            </div>
        </div>

        <div class="col">
            <h5 class="mb-3">Sidebar Pills</h5>
            <div class="card bg-light rounded-5 overflow-auto mb-5">
                <div class="bg-white border-end shadow-sm align-items-start flex-column px-2 sidebar-light-primary" style="width: 300px;">
                    {% include cheatsheet/sidebar/sidebar.html 
                        navPills=""    
                    %}
                </div>
            </div>
        </div>

        <div class="col">
            <h5 class="mb-3">Sidebar Default</h5>
            <div class="card bg-light rounded-5 overflow-auto mb-5">
                <div class="bg-white border-end shadow-sm align-items-start flex-column sidebar-light-primary" style="width: 300px;">
                    {% include cheatsheet/sidebar/sidebar.html %}
                </div>
            </div>
        </div>

    </div>

</article>