<article class="my-3" id="toasts">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Toasts</h3>
    <a class="d-flex align-items-center" href="../components/toasts/">Documentation</a>
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4 pb-5 pt-0">

    <!-- START Toasts Primary -->
    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="light"
        color="primary"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        headerOff=""
        bg="light"
        color="primary"
      %}

      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="light"
        color="primary"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        closeDark=""
        color="primary"
      %}

      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        headerOff=""
        color="primary"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="dark"
        closeDark=""
        color="primary"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="primary"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        headerOff=""
        color="primary"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="primary"
        footerOff=""
      %}
    </div>
    <!-- END Toasts Primary -->


    <!-- START Toasts Success -->
    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="light"
        color="success"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        headerOff=""
        bg="light"
        color="success"
      %}

      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="light"
        color="success"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        closeDark=""
        color="success"
      %}

      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        headerOff=""
        color="success"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="dark"
        closeDark=""
        color="success"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="success"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        headerOff=""
        color="success"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="success"
        footerOff=""
      %}
    </div>
    <!-- END Toasts Success -->


    <!-- START Toasts Danger -->
    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="light"
        color="danger"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        headerOff=""
        bg="light"
        color="danger"
      %}

      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="light"
        color="danger"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        closeDark=""
        color="danger"
      %}

      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        headerOff=""
        color="danger"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="dark"
        closeDark=""
        color="danger"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="danger"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        headerOff=""
        color="danger"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="danger"
        footerOff=""
      %}
    </div>
    <!-- END Toasts Danger -->


    <!-- START Toasts Warning -->
    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="light"
        color="warning"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        headerOff=""
        bg="light"
        color="warning"
      %}

      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="light"
        color="warning"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        closeDark=""
        color="warning"
      %}

      {% include cheatsheet/toast/toast-example.html 
        bg="dark"
        headerOff=""
        color="warning"
      %}
      
      {% include cheatsheet/toast/toast-example.html
        footerOff=""
        bg="dark"
        closeDark=""
        color="warning"
      %}
    </div>

    <div class="col">
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="warning"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        headerOff=""
        color="warning"
        btn-white=""
      %}
      
      {% include cheatsheet/toast/toast-example.html
        toast-color=""
        closeDark=""
        color="warning"
        footerOff=""
      %}
    </div>
    <!-- END Toasts Warning -->

</article>