---
layout: V2/1-column
title:  'Tasks Table'
grpApplyGridTasks: 1
layoutGridTasks: 1
fullScreenGridTasks: 1
---
<div class="container-fluid pt-3">
    <div class="row row-cols-1 row-cols-md-6 g-3">
        <div class="col">
            {% include tasks/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                low=""
                doing="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                low=""
                doing="" 
            %}
        </div>
        <div class="col">
            {% include tasks/card-task.html 
                important=""
                finished="" 
            %}
        </div>
    </div>
</div>