<h3 class="mb-3">Basics</h3>
<!-- START BASICS -->
<div class="row">
    <div class="col-3">
        <h6 class="text-secondary mb-3">Sizes</h6>
        <div class="d-flex pb-4 hstack gap-2">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                contentAvatar=""    
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""    
                contentAvatar=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""    
                contentAvatar=""
            %}
        </div>
    </div>
    <div class="col-3">
        <h6 class="text-secondary mb-3">Shapes</h6>
        <div class="d-flex pb-4 hstack gap-2">
            {% include cheatsheet/avatar/avatar.html 
                pillShape=""   
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                contentAvatar=""    
            %}
        </div>
    </div>
    <div class="col-3">
        <h6 class="text-secondary mb-3">Initials</h6>
        <div class="d-flex pb-4 hstack gap-2">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
            %}
            {% include cheatsheet/avatar/avatar.html 
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
            %}
        </div>
    </div>
    <div class="col-3">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-4 hstack gap-2">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                contentIcon=""
            %}
        </div>
    </div>
</div>
<!-- END BASICS -->