<h3 class="mb-4">With Badge</h3>
<h4 class="mb-3">
    Circle
</h4>
<!-- BADGES / CIRCLES: Badge Right Top -->
<h5 class="mb-1">Badge Right Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS="" 
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- BADGES / CIRCLES: Badge Right Bottom -->
<h5 class="mb-1">Badge Right Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            rightBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            rightBottom=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            rightBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            rightBottom=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            rightBottom=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            rightBottom=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            rightBottom=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            rightBottom=""
                contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- BADGES / CIRCLES: Badge Left Top -->
<h5 class="mb-1">Badge Left Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftTop=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftTop=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftTop=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftTop=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftTop=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftTop=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftTop=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftTop=""
                contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- BADGES / CIRCLES: Badge Left Bottom -->
<h5 class="mb-1">Badge Left Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftBottom=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftBottom=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            leftBottom=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            leftBottom=""
                contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            leftBottom=""
                contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            leftBottom=""
                contentIcon=""  
            %}
        </div>
    </div>
</div>


<h4 class="mb-3 mt-4">
    Rounded
</h4>
<!-- BADGES / ROUNDED: Badge Right Top -->
<h5 class="mb-1">Badge Right Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
            %}
        </div>
    </div>
</div>

<!-- BADGES / ROUNDED: Badge Right Bottom -->
<h5 class="mb-1">Badge Right Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                        rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    rightBottom=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon="" 
                    rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    rightBottom=""
            %}
        </div>
    </div>
</div>

<!-- BADGES / ROUNDED: Badge Left Top -->
<h5 class="mb-1">Badge Left Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    leftTop=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon="" 
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    leftTop=""
            %}
        </div>
    </div>
</div>

<!-- BADGES / ROUNDED: Badge Left Bottom -->
<h5 class="mb-1">Badge Left Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    leftBottom=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon="" 
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    leftBottom=""
            %}
        </div>
    </div>
</div>