<!-- START Avatar Stacked: XS Rounded -->
<div class="d-flex flex-row mb-2">

    {% if include.xs %}
        <div style="margin-left:-5px; z-index:5;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:4;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:3;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:2;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                contentIcon=""
                customClass="border border-white border-2"
            %}
        </div>
        
    {% elsif include.sm %}
        <div style="margin-left:-5px; z-index:5;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:4;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:3;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-5px; z-index:2;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                contentIcon=""
                customClass="border border-white border-2"
            %}
        </div>


    {% elsif include.lg %}
        <div style="margin-left:-10px; z-index:5;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:4;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:3;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:2;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                contentIcon=""
                customClass="border border-white border-2"
            %}
        </div>

    {% else %}
        <div style="margin-left:-10px; z-index:5;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeST=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:4;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeST=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:3;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeST=""
                contentAvatar=""
                customClass="border border-white border-2"
            %}
        </div>
        <div style="margin-left:-10px; z-index:2;" class="align-self-end">
            {% include cheatsheet/avatar/avatar.html 
                sizeST=""
                contentIcon=""
                customClass="border border-white border-2"
            %}
        </div>

    {% endif %}

</div>
<!-- END Avatar Stacked: XS Rounded -->