<h3 class="mb-4">With {{ include.title }}</h3>
<h4 class="mb-3">
    Circle
</h4>
<!-- {{ include.title }} / CIRCLES: {{ include.title }} Right Top -->
<h5 class="mb-1">{{ include.title }} Right Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                    contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                    contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / CIRCLES: {{ include.title }} Right Bottom -->
<h5 class="mb-1">{{ include.title }} Right Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            rightBottom=""
                                iconBadgeFacebook=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            rightBottom=""
                            iconBadgeTwitter=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            rightBottom=""
                            iconBadgeApple=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            rightBottom=""
                            iconBadgeSucccess=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            rightBottom=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            rightBottom=""
                    contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            rightBottom=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            rightBottom=""
                    contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / CIRCLES: {{ include.title }} Left Top -->
<h5 class="mb-1">{{ include.title }} Left Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                                leftTop=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftTop=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftTop=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftTop=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                                leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            leftTop=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftTop=""
                    contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftTop=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftTop=""
                    contentIcon=""  
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / CIRCLES: {{ include.title }} Left Bottom -->
<h5 class="mb-1">{{ include.title }} Left Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            leftBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftBottom=""
                contentAvatar="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftBottom=""
                contentAvatar=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftBottom=""
                contentAvatar=""  
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeLG=""
                        pillLG=""
                            iconBadge=""
                            leftBottom=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        pillST=""
                            iconBadge=""
                            leftBottom=""
                    contentIcon="" 
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeSM=""
                        pillSM=""
                            iconBadge=""
                            leftBottom=""
                    contentIcon=""  
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    pillShape=""
                        sizeXS=""
                        pillXS=""
                            iconBadge=""
                            leftBottom=""
                    contentIcon=""  
            %}
        </div>
    </div>
</div>


<h4 class="mb-3 mt-4">
    Rounded
</h4>
<!-- {{ include.title }} / ROUNDED: {{ include.title }} Right Top -->
<h5 class="mb-1">{{ include.title }} Right Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    iconBadge=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / ROUNDED: {{ include.title }} Right Bottom -->
<h5 class="mb-1">{{ include.title }} Right Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                iconBadge=""
                    rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                iconBadge=""
                    rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                iconBadge=""
                    rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                iconBadge=""
                    rightBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        rightBottom=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon="" 
                    iconBadge=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        rightBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        rightBottom=""
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / ROUNDED: {{ include.title }} Left Top -->
<h5 class="mb-1">{{ include.title }} Left Top</h5>
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                iconBadge=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                iconBadge=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                iconBadge=""
                    leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                iconBadge=""
                    leftTop=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftTop=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftTop=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftTop=""
            %}
        </div>
    </div>
</div>

<!-- {{ include.title }} / ROUNDED: {{ include.title }} Left Bottom -->
<h5 class="mb-1">Status Left Bottom</h5>  
<div class="row">
    <div class="col-4">
        <h6 class="text-secondary mb-3">Image</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentAvatar=""
                    iconBadge=""
                        leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Text</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                iconBadge=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                iconBadge=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                iconBadge=""
                    leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                iconBadge=""
                    leftBottom=""
            %}
        </div>
    </div>
    <div class="col-4">
        <h6 class="text-secondary mb-3">Icon</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar.html 
                sizeLG=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftBottom=""

            %}
            {% include cheatsheet/avatar/avatar.html 
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeSM=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftBottom=""
            %}
            {% include cheatsheet/avatar/avatar.html 
                sizeXS=""
                withBadge=""
                    contentIcon=""
                    iconBadge=""
                        leftBottom=""
            %}
        </div>
    </div>
</div>