<h3 class="mb-4">{{ include.title }}</h3>

<!-- {{ include.title }} / ROUNDED: {{ include.title }} -->
<h5 class="mb-2">Rounded</h5>
<div class="row">

    <div class="col-auto">
        <h6 class="text-secondary mb-3">Large (LG)</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar-stacked-example.html 
                lg="" 
            %}
        </div>
    </div>

    <div class="col-auto">
        <h6 class="text-secondary mb-3">Default (ST)</h6>
        <div class="d-flex pb-5 hstack gap-3">
            {% include cheatsheet/avatar/avatar-stacked-example.html 
            %}
        </div>
    </div>

    <div class="col-auto">
        <h6 class="text-secondary mb-3">Small (SM)</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar-stacked-example.html 
                sm="" 
            %}
        </div>
    </div>

    <div class="col-auto">
        <h6 class="text-secondary mb-3">Extra Small (XS)</h6>
        <div class="d-flex pb-4 hstack gap-3">
            {% include cheatsheet/avatar/avatar-stacked-example.html 
                xs="" 
            %}
        </div>
    </div>

</div>