      <!-- START Navbar Example -->
      <nav class="navbar navbar-expand-lg {{ include.navbarClass }}">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            {% if include.logoWhite %} <img src="/images/logo-airframe-white.svg" alt="" width="100"> {% else %} <img src="/images/logo-airframe.svg" alt="" width="100"> {% endif %}
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Browse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Users
                </a>
                <!-- Dropdown -->
                <ul class="dropdown-menu shadow-sm" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">All Users</a></li>
                  <li><a class="dropdown-item" href="#">Pending Invitations</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Add User</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Projects</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <i class="fa fa-bell"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <i class="fa fa-envelope position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge border {{ include.statusBorderClass }} rounded-circle bg-danger p-1"><span class="visually-hidden">unread messages</span></span>
                  </i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="avatar-xs rounded-pill " src="https://randomuser.me/api/portraits/women/65.jpg" alt="">
                </a>
                <!-- Dropdown -->
                <ul class="dropdown-menu shadow-sm dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">All Users</a></li>
                  <li><a class="dropdown-item" href="#">Pending Invitations</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Add User</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END Navbar Example -->