							<!-- START Dropdown: Group by -->
							<div class="dropdown-menu shadow-sm pb-0">

								<!-- START Dropdown Body -->
								<div class="px-3 pb-3 pt-2">

									<div class="mb-3 fw-normal text-dark small">Add Sort</div>

									<!-- START Sort 1 -->
									<div class="mb-2 d-flex">
										<div class="btn-group" role="group" aria-label="Basic example">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-outline-light text-nowrap"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-a fa-fw me-1"></i> Title <i
														class="fa-solid fa-angle-down opacity-75 ms-2"></i>
												</button>
												<ul class="dropdown-menu shadow-sm">
													<li>
														<h6 class="dropdown-header fw-normal text-dark">Sort by</h6>
													</li>
													<li>
														<a class="dropdown-item active" href="#">
															<i class="fa fa-a fa-fw me-2"></i> 
															Title
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="#">
															<i class="fa fa-clock fa-fw me-2 opacity-75"></i> 
															Status
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="#">
															<i class="fa fa-list fa-fw me-2 opacity-75"></i> 
															Priority
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="#">
															<i class="fa fa-tag fa-fw me-2 opacity-75"></i> 
															Tags
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="#">
															<i class="fa fa-user fa-fw me-2 opacity-75"></i> 
															Assignee
														</a>
													</li>
												</ul>
											</div>

											<div class="btn-group" role="group">
												<button type="button" class="btn btn-outline-light rounded-end text-nowrap"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-arrow-up-wide-short fa-fw me-1"></i> Ascending <i
														class="fa-solid fa-angle-down ms-2 opacity-75"></i>
												</button>
												<ul class="dropdown-menu shadow-sm">
													<li>
														<h6 class="dropdown-header fw-normal text-dark">Show</h6>
													</li>
													<li>
														<a class="dropdown-item active" href="#">
															<i class="fa fa-arrow-up-wide-short fa-fw me-2"></i>
															Ascending
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="#">
															<i class="fa fa-arrow-down-wide-short fa-fw me-2"></i>
															Descending
														</a>
													</li>
												</ul>
											</div>

										</div>

										<button type="button" class="btn btn-link text-body">
											<i class="fa fa-close fa-fw" data-bs-toggle="tooltip"
												data-bs-title="Remove Sort" data-bs-placement="right"></i>
										</button>

									</div>
									<!-- END Sort 1 -->

									<!-- START Add Next Sort -->
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-link text-decoration-none text-body rounded-end"
											data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-plus fa-fw me-1 "></i> Add Sort
										</button>
										<ul class="dropdown-menu shadow-sm">
											<li>
												<h6 class="dropdown-header">Add Next Sort</h6>
											</li>
											<li><a class="dropdown-item" href="#"><i class="fa fa-clock fa-fw me-1"></i>
													Status</a></li>
											<li><a class="dropdown-item" href="#"><i class="fa fa-list fa-fw me-1"></i>
													Priority</a></li>
											<li><a class="dropdown-item" href="#"><i class="fa fa-tag fa-fw me-1"></i>
													Tags</a></li>
											<li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw me-1"></i>
													Assignee</a></li>
										</ul>
									</div>
									<!-- END Add Next Sort -->
								</div>
								<!-- END Dropdown Body -->

								<div
									class="dropdown-item p-3 bg-light border-top-0 d-flex justify-content-end rounded-bottom">
									<button type="button"
										class="btn btn-link text-dark text-decoration-none px-3">Reset</button>
									<button type="button" class="btn btn-primary px-3">Apply</button>
								</div>


							</div>
							<!-- END Dropdown: Group by -->