<!-- START Dropdown: Layout -->
<ul class="dropdown-menu dropdown-menu-end shadow-sm">
    <li>
        <h6 class="dropdown-header fw-normal text-dark small">Layout</h6>
    </li>
    <li>
        <a class="dropdown-item" href="#">
            <i class="fa fa-line-columns fa-fw me-1"></i>
            Table
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="#">
            <i class="fa fa-grid-2 fa-fw me-1"></i> 
            Grid
        </a>
    </li>
</ul>
<!-- END Dropdown: Layout -->