<!-- START Small Header -->
{% if include.headerSmallButton %}
<div class="d-flex mb-3 align-items-center">
    <div class="text-secondary">
        <i class="fa fa-{{ include.headerSmallIcon }} me-2"></i> {{ include.headerSmallTitle }}
    </div>
    <button class="btn btn-primary btn-sm rounded-circle ms-auto">
      <i class="fas fa-plus" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Add Subtask" aria-label="Add Task"></i>
    </button>
</div>
{% else %}
    <div class="mb-4 text-secondary">
        <i class="fa fa-{{ include.headerSmallIcon }} me-2"></i> {{ include.headerSmallTitle }}
    </div>
{% endif %}
<!-- END Small Header -->