<!-- START Tasks List -->
<ul class="list-group list-group-flush bg-white min-vh-100 overflow-auto border-top border-light">
    {% include tasks/list-task.html
    linkTasksListDetails=""
    finished=""
    high=""
    avatar4=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    backlog=""
    important=""
    avatar3=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    rejected=""
    normal=""
    avatar2=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    doing=""
    low=""
    avatar1=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    todo=""
    high=""
    avatar4=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    avatar3=""
    normal=""
    important=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    finished=""
    avatar2=""
    low=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    backlog=""
    avatar1=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    rejected=""
    avatar2=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    doing=""
    avatar3=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    todo=""
    avatar3=""
    %}
    {% include tasks/list-task.html
    linkTasksListDetails=""
    avatar4=""
    %}
</ul>
<!-- END Tasks List -->