
<!-- START Filters -->
<div class="px-3 py-2 hstack gap-1 overflow-auto border-bottom shadow-sm ">
  <span class="badge rounded-pill py-2 pe-2 badge-add-filter text-body-emphasis border border-secondary-subtle" data-bs-toggle="modal" href="#modalStart" role="button">
    Select Filter <i class="fa-solid fa-plus ms-1"></i>
  </span>


  <!-- START Badge Filter Large  -->
  <span class="badge badge-avatar hstack badge-filter rounded-pill bg-body-secondary text-body-emphasis border border-secondary border-opacity-10 py-1">
    <!-- Left Side -->
    <i class="fa fa-circle ms-1 me-2 text-pink"></i>
    <!-- Subtitle -->
    <span class="text-body-secondary me-1">Tag</span>
    <!-- Title -->
    <span>Grace Ankunding</span>
    <!-- Result -->
    <span class="text-body-secondary small mx-2">(14)</span>
    <!-- Close & Caret -->
    <a href="#" class="link-secondary opacity-75 ms-1">
      <i class="fa fa-times-circle"></i>
    </a>
  </span>
  <!-- END Badge Badge Filter Large  -->

  <!-- START Badge Filter Large  -->
  <a class="badge badge-avatar hstack  badge-filter rounded-pill bg-body-secondary text-body-emphasis border border-secondary border-opacity-10 py-1" role="button">
    <!-- Left Side -->
    <i class="fa fa-calendar mx-2 text-secondary"></i>
    <!-- Subtitle -->
    <span class="text-body-secondary me-1">Date</span>
    <!-- Title -->
    <span>12 January</span>
    <!-- Result -->
    <span class="text-body-secondary small mx-2">(27)</span>
    <!-- Close & Caret -->
    <span class="text-secondary opacity-75 ms-1 me-1">
      <i class="fa-solid fa-angle-down"></i>
    </span>
  </a>
  <!-- END Badge Badge Filter Large  -->

  <!-- START Badge Filter Large  -->
  <span class="badge badge-avatar hstack  badge-filter rounded-pill bg-body-secondary text-body-emphasis border border-secondary border-opacity-10 py-1 ">
    <!-- Left Side -->
    <span
      class="avatar-xs rounded-pill bg-secondary small text-white d-flex align-items-center opacity-75 justify-content-center me-2">
      <span style="font-size: 10px; line-height: 0px;">H</span>
    </span>
    <!-- Subtitle -->
    <span class="text-body-secondary me-1">Person</span>
    <!-- Title -->
    <span>June Wuckert</span>
    <!-- Result -->
    <span class="text-body-secondary small mx-2">(21)</span>
    <!-- Close & Caret -->
    <a href="#" class="link-secondary ms-1">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </span>
  <!-- END Badge Badge Filter Large  -->

  <!-- START Badge Filter Large  -->
  <span class="badge badge-avatar hstack badge-filter rounded-pill bg-body-secondary text-body-emphasis border border-secondary border-opacity-10 py-1 ">
    <!-- Left Side -->
    <div
      class="avatar-xs rounded-pill bg-secondary small text-white d-flex align-items-center justify-content-center me-2">
      <i class="fa fa-user" style="font-size: 10px; line-height: 0px;" aria-hidden="true"></i>
    </div>
    <!-- Subtitle -->
    <span class="text-body-secondary me-1">Person</span>
    <!-- Title -->
    <span>Julien Fritsch</span>
    <!-- Result -->
    <span class="text-body-secondary  small mx-2">(20)</span>
    <!-- Close & Caret -->
    <a href="#" class="link-secondary opacity-75 ms-1">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </span>
  <!-- END Badge Badge Filter Large  -->

  <!-- START Badge Filter Large  -->
  <span class="badge badge-avatar hstack badge-filter rounded-pill bg-body-secondary text-body-emphasis border border-secondary border-opacity-10 py-1 ">
    <!-- Left Side -->
    <img src="/images/avatars/7.jpg" class="rounded-circle me-2" alt="..." width="20">
    <!-- Subtitle -->
    <span class="text-body-secondary me-1">Person</span>
    <!-- Title -->
    <span>Dawn Feest</span>
    <!-- Result -->
    <span class="text-body-secondary small mx-2">(27)</span>
    <!-- Close & Caret -->
    <a href="#" class="link-secondary opacity-75 ms-1">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </span>
  <!-- END Badge Badge Filter Large  -->

</div>
<!-- END Filters -->