<!-- START Navbar -->
<div class="p-3 d-flex border-bottom shadow-sm">

    <!-- Left Side-->
    <div class="d-flex flex-grow-1">
        
        <!-- XS,SM,MD Only: Sidebar Offcanvas -->
        <button class="btn btn-link border-secondary-subtle me-2 btn-sm text-secondary d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <i class="fa fa-bars"></i>
        </button>
        {% include V2/offcanvas-sidebar.html %}
        
        {% if page.navbarBackDisabled %}

        {% elsif page.navbarBack %}
        
            <a role="button" class="btn btn-link btn-sm rounded-circle text-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Back to Projects"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/">
                <i class="fa-solid fa-angle-left"></i>
    </a>
            <h6 class="align-self-center mb-0 me-3 fw-semibold text-nowrap ms-1">
                {{ page.navbarTitle }}
            </h6>
        {% elsif page.showTitle %}
            <h6 class="align-self-center mb-0 me-3 fw-semibold text-nowrap ms-1">
                {{ page.navbarTitle }}
            </h6>
        {% elsif page.navbarBreadcrumb %}
            <a class="align-self-center h6 mb-0 fw-normal text-secondary" href="{{page.root}}/">{{ page.navbarLink }}</a>
            <span class="mx-2 text-body align-self-center fw-normal opacity-50">/</span>
            <h6 class="align-self-center mb-0 me-3 fw-semibold text-nowrap text-truncate">
                {{ page.navbarTitle }}
            </h6>
        {% else %}

            
        {% endif %}

        <!-- START Dropdown: Bulk -->
        <div class="dropdown" data-bs-theme="auto">
            <button class="btn btn-link btn-sm rounded-circle text-secondary {% if page.dropdownBulkDisabled %}disabled{% else %}{% endif %}" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;">
                <i class="fa-solid fa-ellipsis" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="Bulk Options"></i>
            </button>
            {% include tasks/dropdown-bulk.html %}
        </div>
        <!-- END Dropdown: Bulk -->

        <!-- START Dropdown: Filter -->
            <button class="btn btn-link btn-sm rounded-circle text-secondary {% if page.dropdownFilterDisabled %}disabled{% else %}{% endif %}" type="button"
            data-bs-toggle="modal" href="#modalStart" role="button"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;">
                <i class="fa-solid fa-filter-list" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="Filters"></i>
            </button>
        <!-- END Dropdown: Filter -->

        <!-- START Dropdown: Groups -->
        <div class="dropdown" data-bs-theme="auto">
            <button class="btn btn-link btn-sm rounded-circle text-secondary {% if page.dropdownGroupsDisabled %}disabled{% else %}{% endif %}" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;">
                {% if page.grpNotify %} 
                    <i class="fa-solid fa-layer-group position-relative" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Groups"><span class="position-absolute top-0 start-100 translate-middle badge border border-white rounded-circle bg-danger p-1"><span class="visually-hidden">unread messages</span></span></i>
				{% else %}
                    <i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Groups"></i>
				{% endif %}
            </button>
            {% include V2/dropdown-groupby.html %}
        </div>
        <!-- END Dropdown: Groups -->

        <!-- START Dropdown: Sort -->
        <div class="dropdown" data-bs-theme="auto">
            <button class="btn btn-link btn-sm rounded-circle text-secondary {% if page.dropdownSortDisabled %}disabled{% else %}{% endif %}" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;">
                <i class="fa-solid fa-bars-sort" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="Sort"></i>
            </button>
            {% include V2/dropdown-sort.html %}
        </div>
        <!-- END Dropdown: Sort -->

    </div>

    <!-- Right Side-->
    <div class="d-flex h-stack gap-1">

        {% if page.dropdownSelectLayout %}
            <!-- Dropdown: Select Layout -->
            <div class="dropdown">
                <button class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
                type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
                    aria-label="Table View" data-bs-original-title="Change Layout">
                    <i class="fa-solid fa-bars"  data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
                </button>
                {% include V2/dropdown-layout.html %}
            </div>
        {% elsif page.layoutListGridTasks %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/table/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutGridTasks %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/table/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTableTasks %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/grid/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTableTasksGroup %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/grid/group/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutListTableTasks %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/grid/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutGridTasksGroup %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/table/group/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutListGridTasksGroup %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/table/group/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutListTableTasksGroup %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/grid/group/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTasksListGridDetails %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/table/details/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTasksListTableDetails %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/grid/details/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTasksListTableGroupDetails %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/grid/group/details/">
                    <i class="fa-solid fa-grid-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutTasksListGridGroupDetails %}
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/tasks/list/table/group/details/">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% elsif page.layoutProjectsTable %}
            <!-- Layout Project Table > Grid  -->
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/projects/grid"  data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Grid View">
                    <i class="fa-solid fa-grid-2"></i>
            </a>
        {% elsif page.layoutProjectsGrid %}
            <!-- Layout Project Grid > Table  -->
            <a class="btn btn-link btn-sm rounded-circle text-secondary" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="{{page.root}}/projects/table"  data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Table View">
                    <i class="fa-solid fa-bars"></i>
            </a>
        {% else %}
            <!-- Layout Disabled -->
            <a class="btn btn-link btn-sm rounded-circle text-secondary disabled" role="button" style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;" href="#">
                    <i class="fa-solid fa-bars" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Change Layout"></i>
            </a>
        {% endif %}



        {% if page.fullScreenTableTasksGroup %}
            <!-- Switch Layout to Table Tasks Group -->
            <a href="{{page.root}}/tasks/table/group/" class="btn btn-link btn-sm rounded-circle text-secondary active" aria-current="page"
                role="button"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
                aria-label="Table View" data-bs-original-title="Switch to Full Screen">
                <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.listTableTasksGroup %}
            <!-- Switch Layout to List-Table Tasks Group -->
            <a href="{{page.root}}/tasks/list/table/group/" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
                role="button"
                style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
                aria-label="Table View" data-bs-original-title="Switch to Full Screen">
                <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenTableTasks %}
            <!-- Switch Layout to Table Tasks -->
            <a href="{{page.root}}/tasks/table/" class="btn btn-link btn-sm rounded-circle text-secondary active" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenListTableTasks %}
            <!-- Switch Layout to List-Table Tasks -->
            <a href="{{page.root}}/tasks/list/table/" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenGridTasks %}
            <!-- Switch Layout to List-Table Tasks -->
            <a href="{{page.root}}/tasks/list/grid/" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenListGridTasks %}
            <!-- Switch Layout to List-Table Tasks -->
            <a href="{{page.root}}/tasks/grid/" class="btn btn-link btn-sm rounded-circle text-secondary active" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenListGridTasksGroup %}
            <!-- Switch Layout to List-Table Tasks -->
            <a href="{{page.root}}/tasks/grid/group/" class="btn btn-link btn-sm rounded-circle text-secondary active" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenGridTasksGroup %}
            <!-- Switch Layout to List-Table Tasks -->
            <a href="{{page.root}}/tasks/list/grid/group/" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenTasksEmpty %}
            <!-- Switch Layout -->
            <a href="{{page.root}}/tasks/list/empty" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% elsif page.fullScreenTasksListEmpty %}
            <!-- Switch Layout -->
            <a href="{{page.root}}/tasks/empty" class="btn btn-link btn-sm rounded-circle text-secondary" aria-current="page"
            role="button"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%; font-size: 0.8rem;"
            aria-label="Table View" data-bs-original-title="Switch to Full Screen">
            <i class="fa-solid fa-expand" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-original-title="Switch to Full Screen"></i>
            </a>
        {% else %}

        {% endif %}

        {% if page.navbarBtnAddTask %}
        <!-- Add Task -->
        <button class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCreateTask"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%;">
            <i class="fa-solid fa-plus" data-bs-toggle="tooltip" data-bs-placement="bottom"
                aria-label="Add Project" data-bs-original-title="Add Task"></i>
        </button>
        {% else %}
        <!-- Add Project -->
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#modalCreateProject"
            style="width: 28px; height: 28px;line-height: 28px;text-align: center;padding: 0; border-radius: 50%;">
            <i class="fa-solid fa-plus" data-bs-toggle="tooltip" data-bs-placement="bottom"
                aria-label="Add Project" data-bs-original-title="Add Project"></i>
        </button>
        {% endif %}

    </div>
</div>
<!-- END Navbar -->