<table class="table table-hover mt-1">
    <thead class="small">
        <tr>
        <th scope="col" width="30" class="border-secondary-subtle">
        </th>
        <th scope="col" width="30" class="border-secondary-subtle">
            <i class="fas fa-fw fa-star ms-2"></i>
        </th>
        <th scope="col" class="text-center small fw-normal border-secondary-subtle" width="30">Priority</th>
        <th scope="col" class="text-center small fw-normal border-secondary-subtle" width="30">Status</th>
        <th scope="col" class="small fw-normal border-secondary-subtle">Title</th>
        <th scope="col" class="small fw-normal border-secondary-subtle">Created</th>
        <th scope="col" class="small fw-normal border-secondary-subtle">Tags</th>
        <th scope="col" class="small fw-normal border-secondary-subtle">Assigned</th>
        <th scope="col" class="text-end border-secondary-subtle"></th>
        </tr>
    </thead>
    <tbody>
        {% for table in site.data.tableTask %}
        {% include V2/tr-task.html 
            avatar4=""
            backlog=""
            importantIcon=""
        %}
        {% include V2/tr-task.html 
            avatar3=""
            rejected=""
            highIcon=""
        %}
        {% include V2/tr-task.html 
            avatar2=""
            doing=""
            normalIcon=""
        %}
        {% include V2/tr-task.html 
            avatar1=""
            todo=""
            lowIcon=""
        %}
        {% endfor %}
    </tbody>
</table>