<!-- START TR Collapse Group {{ include.trCollapseLink }} -->
<tr class="bg-secondary">
    <td scope="row" colspan="7" class="fw-normal text-body-emphasis">
        <a class="link-secondary text-decoration-none ms-2" data-bs-toggle="collapse"
            href="#{{ include.trCollapseLink }}" role="button" aria-expanded="false" aria-controls="{{ include.trCollapseLink }}">
            <i class="fa fa-angle-right"></i>
        </a>
        <span class="me-2">
            <input class="form-check-input ms-2" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
        </span>
        <i class="fa fa-circle text-{{ include.trCollapseIconColor }} small me-2"></i>
        {{ include.trCollapseTitle }}<span class="small text-secondary fw-normal ms-2">2</span>
    </td>
</tr>
<!-- END TR Collapse Group {{ include.trCollapseLink }} -->