---
layout: V2/1-column
title:  'Tasks Table'
grpApplyGridTasks: 1
layoutGridTasks: 1
fullScreenGridTasks: 1
offcanvasTasksGrid: 1
modalDangerTasksEmpty: 1
navbarBreadcrumb: true
navbarLink: Projects
navbarTitle: 'Tasks'
---
<div class="container-fluid pt-3 vh-100 overflow-auto">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">
        <div class="col">
            {% include V2/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                low=""
                doing="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                important=""
                finished="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                high=""
                backlog="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                normal=""
                rejected="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                low=""
                doing="" 
            %}
        </div>
        <div class="col">
            {% include V2/card-task.html 
                important=""
                finished="" 
            %}
        </div>
    </div>
</div>