---
layout: sidebar-list
title:  'Projects List'
projectsListGrid-Sidebar: 1
listProjects: 1
projectsListGrid: 1
modalDangerListTasks: 1
---

<div class="col">
  {% include layouts/navbar-filters.html 
    1class=""
    2class=""
    list-link-inc_projects-list-list=""
    grid-link-inc_projects-list-grid=""
      grid-active-inc_projects-list-grid=""
    table-link-inc_projects-list-table=""
    badgesDisabled=""
    title="Project: We need to program the bluetooth XSS application!"
    closeProject=""
%}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-4">
      <div class="col">
          {% include tasks/card-task.html 
            important=""
            finished="" 
          %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          high=""
          backlog="" 
        %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          normal=""
          rejected="" 
        %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          low=""
          doing="" 
        %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          important=""
          finished="" 
        %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          high=""
          backlog="" 
        %}
      </div>
      <div class="col">
        {% include tasks/card-task.html 
          normal=""
          rejected="" 
        %}
      </div>
    </div>
  </div>
</div>