                    <!-- START TR: Members -->
                    <tr>
                        <th scope="row" class="align-middle">
                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                        </th>
                        <td>
                            <div class="position-relative d-inline-flex align-middle">
                                <img class="avatar-sm rounded-pill" src="{{page.root}}/{{ site.data.avatars | sample }}" alt="">
                                <span class="position-absolute top-100 start-100 badge border border-light rounded-circle bg-{{ site.data.statusColor | sample }} p-1" style="transform: translate(-90%,-60%);"><span class="visually-hidden">unread messages</span></span>
                            </div>
                        </td>
                        <td class="align-middle text-dark">{{ site.data.firstName | sample }}</td>
                        <td class="align-middle text-dark">{{ site.data.lastName | sample }}</td>
                        <td class="align-middle">{{ site.data.emails | sample }}</td>
                        <td class="align-middle">{{ include.status }}</td>
                        <td class="align-middle">
                            {% if include.admin %}
                                <span class="badge badge-light-light rounded-pill text-dark ps-1 pe-2 fw-normal">
                                    <i class="fa fa-circle me-1 text-danger"></i>
                                    Admin
                                </span>                 
                            {% else %}
                                <span class="badge badge-light-light rounded-pill text-dark ps-1 pe-2 fw-normal">
                                    <i class="fa fa-circle me-1 text-primary"></i>
                                    Member
                                </span>     
                            {% endif %}
                        </td>
                        <td class="text-end align-middle">
                            <!-- START Dropdown: Options -->
                            <div class="btn-group">
                                <button class="btn btn-link text-decoration-none btn-sm text-secondary rounded-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-fw"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-macos dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                                    <li><h6 class="dropdown-header">Options</h6></li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                        <i class="fa fa-pen fa-fw me-2 opacity-50"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                        <i class="fa fa-ban fa-fw me-2 opacity-50"></i> Suspend
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalDanger">
                                            <i class="fa fa-trash fa-fw me-2 opacity-50"></i> Remove
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Dropdown: Options -->
                        </td>
                      </tr>
                      <!-- END TR: Members -->