---
layout: slim-sidebar
title:  'Projects Grid'
projectsGrid: 1
containerClass: 1
---
<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    <div class="col">
        {% include tasks/card-project.html 
                
        %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
    <div class="col">
        {% include tasks/card-project.html %}
    </div>
  </div>