---
layout: V2/1-column
title:  'Projects Grid'
showTitle: true
navbarTitle: 'Projects Grid'
layoutProjectsGrid: true
---
<div class="container-fluid pt-3 vh-100 overflow-auto">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
        <div class="col">
            {% include tasks/card-project.html %}
        </div>
    </div>
</div>