<!-- START Dropdown Profile -->
<ul class="dropdown-menu shadow-sm {{ include.class }}">
    <div class="pb-1 px-3">
        <div class="pb-0 text-dark">Esta Deckow</div>
        <small>
            esta.deckow@deckow.co.uk
        </small>
    </div>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="{{page.root}}/settings/settings.html">Profile</a></li>
    <li><a class="dropdown-item" href="{{page.root}}/settings/settings.html">Settings</a></li>
    <li><a class="dropdown-item" href="{{page.root}}/settings/billings.html">Billings</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item" href="{{page.root}}/login.html">
            <i class="fa fa-power-off me-1"></i>
            Sign Out
        </a>
    </li>
</ul>
<!-- END Dropdown Profile -->