					<!-- START Navbar Transparent -->
					<div class="d-flex p-2 justify-content-between">
						<!-- Left Side -->
						<div class="d-flex align-items-center">
							<button type="button" class="btn btn-link text-secondary me-2">
								<i class="fa fa-bars"></i>
							</button>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item">
										<a href="#" class="text-decoration-none text-dark">Home</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">
										Library
									</li>
								</ol>
							</nav>
						</div>

						<!-- Right Side -->
						<div>
							<button type="button" class="btn btn-link text-secondary">
								<i class="fa fa-bell"></i>
							</button>
							<button type="button" class="btn btn-link text-secondary">
								<i class="fa fa-envelope"></i>
							</button>
							<button type="button" class="btn btn-link text-secondary">
								<i class="fa fa-power-off"></i>
							</button>
						</div>
					</div>
					<!-- END Navbar Transparent -->