<!-- START Card File -->
<div class="card card-media shadow-sm position-relative" data-bs-toggle="button" autocomplete="off"  style="width:70px; height:70px;">
    <!-- Close Button -->
    <span class="position-absolute top-0 start-100 translate-middle" style="z-index: 999;">
    <span class="fa-stack" style="font-size: 0.7em;">
        <i class="fa-solid fa-circle fa-stack-2x text-secondary"></i>
        <i class="fa-solid fa-times fa-stack-1x text-white"></i>
    </span>
    </span>
    <div class="card-body d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-{{ include.icon }} fa-1x text-{{ include.iconColor }}"></i>
    </div>
</div>
<!-- END File -->